.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.logo-web {
  color: var(--hightlight-color);
}
.footer-logo {
  color: var(--prirmary-backrgaund-color);
  margin-right: 0;
  margin-bottom: 20px;
}
